version: '3.8'

services:
  db:
    image: postgres:17
    container_name: forum_db_container
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_